<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}"
          href="../css/style.css" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"
            rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div th:replace="~{fragment/navbar :: basicNav}"></div>
<div class="addItem_container">
    <div>
        <h2>상품등록</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div class="inputArea">
            <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}"
                   th:errorclass="field-error" placeholder="이름을 입력하세요">
            <div class="field-error" th:errors="*{itemName}">
                상품명 오류
            </div>
        </div>

        <div class="inputArea">
            <label for="price" th:text="#{label.item.price}">가격</label>
            <input type="text" id="price" th:field="*{price}"
                   th:errorclass="field-error" placeholder="가격을 입력하세요">
            <div class="field-error" th:errors="*{price}">
                가격 오류
            </div>
        </div>

        <div class="inputArea">
            <label for="quantity" th:text="#{label.item.quantity}">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}"
                   th:errorclass="field-error" placeholder="수량을 입력하세요">
            <div class="field-error" th:errors="*{quantity}">
                수량 오류
            </div>
        </div>

        <div class="inputArea">
            <label for="gdsDes">상품소개</label>
            <textarea rows="5" cols="50" id="gdsDes" name="gdsDes"></textarea>
        </div>

        <div class="inputArea">
            <div class="col">
                <button class="btn_add" type="submit" th:text="#{page.addItem}">상품 등록</button>
                <button class="btn_cancel"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/validation/v4/items}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
